/*
* Copyright Rob Hardy 2013 (https://github.com/robhogg/twive)
*
* This file is part of Twive
* 
* Twive is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
* 
* Twive is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Twive.  If not, see <http://www.gnu.org/licenses/>.
*/

* {border: none; margin: 0px; padding: 0px; font-family: sans-serif}

body {background-color: #bbffdd}

#header {width: 100%; height: 4em; background-color: #056010}
#header h1 a {color: #ffffdd; text-decoration: none}
#header h1 a:hover {text-decoration: underline}
#archname {color: #ffdd99}

#tweet-list {width: 80%; margin-left: auto; margin-right: auto;
	border-width: 1px 4px 4px 1px; border-color: #808080; border-style: solid;
	clear: both
}

#list-controls {font-weight: bold; font-size: 1.4em;
	width: 80%; margin-left: auto; margin-right: auto;
	color: #ffdddd; background-color: #606060;
	padding: 4px 0px; border-width: 1px 4px 0px 1px;
	border-color: #808080; border-style: solid;
}
#list-controls a {
	color: #ddddff; font-weight: bold; text-decoration: none;
}
#list-controls span {padding: 0px 0.25em}

div.tweet {border-bottom: 1px #808080 dotted; 
	padding: 0.5em 0.25em 0.25em 0.25em;
	background: -moz-linear-gradient(top,#ffffff,#ddddff);
	background: -webkit-linear-gradient(top,#ffffff,#ddddff);
	background: -ms-linear-gradient(top,#ffffff,#ddddff);
	background: -o-linear-gradient(top,#ffffff,#ddddff);
	background: linear-gradient(top,#ffffff,#ddddff);
}

#searchbar {display: inline}


/* Chart */
#chart {width: 80%; margin-left: auto; margin-right: auto}
.chart_bar {float: left; background-color: #bbffdd}
.chart_label {;float: left}
.chart_values {float: left}
#chart_pane {height: 200px; background-color: #056010; clear: both}
#chart_values {clear: both}
#chart_labels {clear: both}
