/*
* Copyright Rob Hardy 2013 (https://github.com/robhogg/twive)
*
* This file is part of Twive
* 
* Twive is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
* 
* Twive is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Twive.  If not, see <http://www.gnu.org/licenses/>.
*/

* {border: none; margin: 0px; padding: 0px; font-family: sans-serif}

body {background-color: #bbffdd}

#header {width: 100%; height: 4em; background-color: #056010}
#header h1 a {color: #ffffdd; text-decoration: none}
#header h1 a:hover {text-decoration: underline}
#archname {color: #ffdd99}

#content {width: 80%; margin-left: auto; margin-right: auto}

#footer {margin: 20px 0px 10px 0px; text-align: center}
#footer p {text-align: center}

#tweet-list {
	border-width: 1px 4px 1px 1px; border-color: #808080; border-style: solid;
	clear: both
}

.list-controls {font-weight: bold; font-size: 1.4em;
	margin-left: auto; margin-right: auto;
	color: #ffdddd; background-color: #606060;
	padding: 4px 0px; border-width: 1px 4px 0px 1px;
	border-color: #808080; border-style: solid;
}
.list-controls a {
	color: #ddddff; font-weight: bold; text-decoration: none;
}
.list-controls span {padding: 0px 0.25em}
.list-foot {text-align: center}

div.tweet {border-bottom: 1px #808080 dotted; 
	padding: 0.5em 0.25em 0.25em 0.25em;
	background: -moz-linear-gradient(top,#ffffff,#ddddff);
	background: -webkit-linear-gradient(top,#ffffff,#ddddff);
	background: -ms-linear-gradient(top,#ffffff,#ddddff);
	background: -o-linear-gradient(top,#ffffff,#ddddff);
	background: linear-gradient(top,#ffffff,#ddddff);
}

#searchbar {display: inline}


/* Chart */
.chart_bar {background-color: #bbffdd;}
.chart_bar_container {float:left; height: 100%; background-color: #056010;
 margin: 0.2%; cursor: pointer; 
 background: -moz-linear-gradient(top,#b8860b,#056010);
 background: -webkit-linear-gradient(top,#b8860b,#056010)}
.chart_label {float: left; text-align: center}
.chart_values {float: left; text-align: center}
#chart h3 {text-align: center; color: #056010}
#chart_pane {height: 200px; clear: both}
#chart_values {clear: both}
#chart_labels {clear: both}
#chart ul {margin: 5% 0% 5% 10%}
#chart ul li {font-size: large}

/* Tag cloud */
.tag_cloud {margin: 10px 5px 10px 5px; text-align: center}
.tag_cloud {color: #000}


/* Social connections */
#social-connect {float: right; margin: 1em 1em 0em 0em}
